  .title {
    color: white;
  }
  
  ul, li {
    font-family: sans-serif;
  }
  
  .header{
    margin: 0;
    height: 50px;
  }
  
  ul.header li {
    display: inline;
    list-style-type: none;
    padding: 10px;
  }
  
  ul.header {
    background-color: #ef5350;
    padding: 10px;
  }
  ul.header li a {
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 20px 0;
    display: inline-block;
    float: right;
  }